<nav>
    <div class="site-title">
        <a href="/"><h1>SBA 319</h1></a>
        <p>Your DC Superhero Site</p>
    </div>
    <ul>
        <li><a href="/">Your Justice League</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/charcter/create">New Charcters</a></li>
    </ul>
</nav>