<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SBA</title>
</head>
<body>

    <nav>
        <div class="site-title">
            <a href="/"><h1>SBA 319</h1></a>
            <p>My DC Superhero Site</p>
        </div>
        <ul>
            <li><a href="/">Your Justice League</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/charcter/create">New Charcters</a></li>
        </ul>
    </nav>

    <div class="create-charcter content">
        <form>

            <label for="name">Charcter's Name</label>
            <input type="text" id="name" required>
            <br><br>

            <label for="species">Charcter's Species</label>
            <input type="text" id="species" required>
            <br><br>

            <label for="enemy">Charcter's Enemy</label>
            <input type="text" id="enemy" required>
            <br><br>

            <label for="bio">Charcter's Bio</label>
            <textarea id="body" required></textarea>
            <br><br>

            <button>Submit</button>
            
        </form>
       
    </div>
    
</body>
</html>