<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs') %>

<body>

    <%- include('./partials/nav.ejs') %>

    <div class="create-character content">
        <form action="/characters" method="POST">

            <h2>Add a New Member to your Team</h2>

            <label for="name">Character's Name</label>
            <input type="text" id="name" name="name" required>

            <label for="species">Character's Species</label>
            <input type="text" id="species" name="species" required>

            <label for="enemy">Character's Enemy</label>
            <input type="text" id="enemy" name="enemy" required>

            <label for="bio">Character's Bio</label>
            <textarea id="body"  name="body" ></textarea>

            <button>Submit</button>
            
        </form>
       
    </div>
    
    <%- include('./partials/footer.ejs') %>

</body>
</html>